.square{
  width: 12%;
  height: 0;
  padding-bottom: 12%;
  margin: 1%;
  float: left;
  position: relative;
  left: 46%;
}

.block{
  position: absolute;
  text-align: center;
  background: blue;
  width: 100%;
  height: 100%;
}
